<!DOCTYPE html>
<html>

   <head>
      <title>Exercise Tracker | Free Code Camp</title>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
         <h1>Exercise tracker</h1>
          <form action="/api/exercise/new-user" method="post">
            <h3>Crea nuevos usuarios</h3>
            <p><code>POST /api/exercise/new-user</code></p>
            <input id="uname" type="text" name="username" placeholder="username">
            <input type="submit" value="Submit">
          </form>
          <form action="/api/exercise/add" method="post">
            <h3>Añade Ejercicios</h3>
            <p><code>POST /api/exercise/add</code></p>
            <input id="uid" type="text" name="userId" placeholder="userId*">
            <input id="desc" type="text" name="description" placeholder="descripción*">
            <input id="dur" type="text" name="duration" placeholder="duración* (mins.)">
            <input id="dat" type="text" name="date" placeholder="fecha (yyyy-mm-dd)">
            <input type="submit" value="Submit">
          </form>
          <p><strong>GET log de ejercicios de un usuario: </strong><code>GET /api/exercise/log?{userId}[&amp;from][&amp;to][&amp;limit]</code></p>
          <p><strong>{ }</strong> = obligatorio, <strong>[ ]</strong> = opcional</p>
          <p><strong>from, to</strong> = fecha (yyyy-mm-dd); <strong>limit</strong> = número</p>
      </div>
   </body>

</html>
